@inherits HeaderBase

@namespace app.Components

<header class="secondary-background-color">
    <div class="container mx-auto p-3 flex items-center gap-x-4 flex-wrap-reverse">
        <NavLink class="text-2xl font-bold mx-auto" href="" Match="NavLinkMatch.All">@_title</NavLink>
        <div class="flex items-center gap-4 ms-auto">
            <p class="font-bold">Username</p>
            <div class="w-8 h-8 rounded-full tertiary-background-color"></div>
        </div>
    </div>
</header>